body{
	color: #455A64;
	
}
header{
	height: 150px;
	background: #E64A19;
}
.logo{
	width: 150px;
}
nav ul{
	float: right;
	margin-right: 20px;
	padding: 20px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	padding: 10px;
	color: white;
}
.centrado{
	text-align: center;
}
.espacios{
	padding-top: 100px;
	padding-bottom: 100px;

}
.splash{
	width: 100%;
	height: 90vh;
	background: url(../image/elpa.jpg) center center fixed;
	background-size: code;
}

}
.splash h1{
	margin-top: 60px;
	color: #F57C00;
	font-size: 30px;
	display: inline-block;
	padding: 30px;
}
.splash .btn{
	background: #E64A19;
	color: white;
}
.content{
	padding: 10px;
}
.card{
	box-shadow: 0 2px 2px o rgba(0, 0, 0, 0.14) !important;
}
.card .btn{
	float: right;
}
#letritas{
	background: #f2f2f2;
}
#letritas i {
color: #FF5722;
}
.pintado{
	background: #757575;
	padding: 2px;
	font-size: 30px;
	color: white;

}
.frases i{
	font-size: 100px;
}
.frases h2{
	padding: 30px;
}